{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "OpenAPI spec for /v1/models and /v1/chat/completions (OpenAI format).",
        "title": "AI API (OpenAI Compatible)",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.ainft.com",
    "basePath": "/",
    "paths": {
        "/v1/chat/completions": {
            "post": {
                "description": "Chat completion. Auth: Bearer token. Non-stream: JSON with choices[].content. Stream: SSE chunks with choices[].delta.content.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Chat Completions"
                ],
                "summary": "Create chat completion (OpenAI compatible)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer \u0026lt;token\u0026gt;, e.g. Bearer sk-xxx",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Request body (model, messages required; stream, max_tokens, temperature, top_p, stop, n optional)",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/main.ChatCompletionsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Non-stream: choices[].content. Stream (SSE): each chunk is ChatCompletionsStreamChunk with choices[].delta.content.",
                        "schema": {
                            "$ref": "#/definitions/main.ChatCompletionsResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication failed",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/models": {
            "get": {
                "description": "List available models. Auth: Bearer token. Response: object, success, data.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Model List"
                ],
                "summary": "List models (OpenAI compatible)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer \u0026lt;token\u0026gt;, e.g. Bearer sk-xxx",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "object: list; success: true; data: array of { id, object, created, owned_by }",
                        "schema": {
                            "$ref": "#/definitions/main.V1ModelsResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication failed",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "main.ChatChoice": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "string"
                },
                "finish_reason": {
                    "type": "string",
                    "example": "stop"
                },
                "index": {
                    "type": "integer"
                }
            }
        },
        "main.ChatCompletionsRequest": {
            "type": "object",
            "properties": {
                "frequency_penalty": {
                    "description": "FrequencyPenalty: -2.0 to 2.0. Penalize repeated tokens. Default 0.",
                    "type": "number"
                },
                "max_tokens": {
                    "description": "MaxTokens: maximum number of tokens that can be generated in the completion.",
                    "type": "integer"
                },
                "messages": {
                    "description": "Messages: list of messages in the conversation. Required.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/main.ChatMessage"
                    }
                },
                "model": {
                    "description": "Model: ID of the model to use (e.g. gpt-4). Required.",
                    "type": "string",
                    "example": "gpt-4"
                },
                "n": {
                    "description": "N: how many chat completion choices to generate. Default 1.",
                    "type": "integer"
                },
                "presence_penalty": {
                    "description": "PresencePenalty: -2.0 to 2.0. Penalize tokens that appear in the text so far. Default 0.",
                    "type": "number"
                },
                "response_format": {
                    "description": "ResponseFormat: specify output format: { \"type\": \"text\" } or { \"type\": \"json_object\" } or json_schema.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/main.ChatResponseFormat"
                        }
                    ]
                },
                "seed": {
                    "description": "Seed: random seed for deterministic sampling (if supported by model).",
                    "type": "integer"
                },
                "stop": {
                    "description": "Stop: up to 4 sequences where the API will stop generating. String or array of strings."
                },
                "stream": {
                    "description": "Stream: if true, partial message deltas will be sent as server-sent events. Default false.",
                    "type": "boolean"
                },
                "temperature": {
                    "description": "Temperature: sampling temperature between 0 and 2. Higher = more random. Default 1.",
                    "type": "number"
                },
                "tool_choice": {
                    "description": "ToolChoice: \"none\" | \"auto\" | { \"type\": \"function\", \"function\": { \"name\": \"...\" } }. Controls which tool(s) to call."
                },
                "tools": {
                    "description": "Tools: list of tools the model may call. Each has type \"function\" and function { name, description?, parameters? }.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/main.ChatTool"
                    }
                },
                "top_p": {
                    "description": "TopP: nucleus sampling: consider tokens with top_p probability mass. Default 1.",
                    "type": "number"
                },
                "user": {
                    "description": "User: optional end-user identifier for abuse monitoring.",
                    "type": "string"
                }
            }
        },
        "main.ChatCompletionsResponse": {
            "type": "object",
            "properties": {
                "choices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/main.ChatChoice"
                    }
                },
                "created": {
                    "type": "integer",
                    "example": 1677652288
                },
                "id": {
                    "type": "string",
                    "example": "chatcmpl-xxx"
                },
                "model": {
                    "type": "string",
                    "example": "gpt-4"
                },
                "object": {
                    "type": "string",
                    "example": "chat.completion"
                },
                "usage": {
                    "$ref": "#/definitions/main.ChatUsage"
                }
            }
        },
        "main.ChatMessage": {
            "type": "object",
            "properties": {
                "content": {
                    "description": "Content: message content. For tool role, the result of the tool call.",
                    "type": "string",
                    "example": "Hello"
                },
                "name": {
                    "description": "Name: optional name for the message author (e.g. to disambiguate multiple users).",
                    "type": "string"
                },
                "role": {
                    "description": "Role: \"system\" | \"user\" | \"assistant\" | \"tool\". System sets behavior; user/assistant are conversation; tool is tool result.",
                    "type": "string",
                    "example": "user"
                },
                "tool_call_id": {
                    "description": "ToolCallId: when role is \"tool\", the id of the tool call this result is for. Required for tool messages.",
                    "type": "string"
                },
                "tool_calls": {
                    "description": "ToolCalls: when role is \"assistant\" and the model called tools, array of { id, type, function: { name, arguments } }.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/main.ChatToolCallItem"
                    }
                }
            }
        },
        "main.ChatResponseFormat": {
            "type": "object",
            "properties": {
                "json_schema": {
                    "description": "JsonSchema: when type is json_schema, optional schema for the output."
                },
                "type": {
                    "description": "Type: \"text\" or \"json_object\".",
                    "type": "string"
                }
            }
        },
        "main.ChatTool": {
            "type": "object",
            "properties": {
                "function": {
                    "description": "Function: function definition (name, description, parameters).",
                    "allOf": [
                        {
                            "$ref": "#/definitions/main.ChatToolFunction"
                        }
                    ]
                },
                "type": {
                    "description": "Type: must be \"function\".",
                    "type": "string",
                    "example": "function"
                }
            }
        },
        "main.ChatToolCallFunction": {
            "type": "object",
            "properties": {
                "arguments": {
                    "description": "Arguments: JSON string of the arguments.",
                    "type": "string"
                },
                "name": {
                    "description": "Name: name of the function to call.",
                    "type": "string"
                }
            }
        },
        "main.ChatToolCallItem": {
            "type": "object",
            "properties": {
                "function": {
                    "description": "Function: name and arguments of the call.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/main.ChatToolCallFunction"
                        }
                    ]
                },
                "id": {
                    "description": "Id: ID of the tool call.",
                    "type": "string"
                },
                "type": {
                    "description": "Type: \"function\".",
                    "type": "string",
                    "example": "function"
                }
            }
        },
        "main.ChatToolFunction": {
            "type": "object",
            "properties": {
                "description": {
                    "description": "Description: optional description for the model.",
                    "type": "string"
                },
                "name": {
                    "description": "Name: name of the function.",
                    "type": "string"
                },
                "parameters": {
                    "description": "Parameters: optional JSON schema for the function arguments."
                }
            }
        },
        "main.ChatUsage": {
            "type": "object",
            "properties": {
                "completion_tokens": {
                    "description": "CompletionTokens: number of tokens in the completion.",
                    "type": "integer"
                },
                "prompt_tokens": {
                    "description": "PromptTokens: number of tokens in the prompt.",
                    "type": "integer"
                },
                "total_tokens": {
                    "description": "TotalTokens: total tokens (prompt + completion).",
                    "type": "integer"
                }
            }
        },
        "main.V1ModelItem": {
            "type": "object",
            "properties": {
                "created": {
                    "type": "integer",
                    "example": 1626777600
                },
                "id": {
                    "type": "string",
                    "example": "gpt-4"
                },
                "object": {
                    "type": "string",
                    "example": "model"
                },
                "owned_by": {
                    "type": "string",
                    "example": "openai"
                }
            }
        },
        "main.V1ModelsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/main.V1ModelItem"
                    }
                },
                "object": {
                    "type": "string",
                    "example": "list"
                },
                "success": {
                    "type": "boolean",
                    "example": true
                }
            }
        }
    }
}